<%= form_with model: @project do |f| %>
  <div class="form-floating my-3">
    <%= f.text_field :title, class: "form-control", placeholder: "Título" %>
    <%= f.label :title %>
    <% @project.errors.full_messages_for(:title).each do |message| %>
      <div class="invalid-feedback">
        <%= message %>
      </div>
    <% end %>
  </div>

  <div class="form-floating my-3">
    <%= f.text_area :description, class: "form-control", placeholder: "Meu novo projeto" %>
    <%= f.label :description %>
    <% @project.errors.full_messages_for(:description).each do |message| %>
      <div class="invalid-feedback">
        <%= message %>
      </div>
    <% end %>
  </div>

  <div class="form-floating my-3">
    <%= f.text_area :desired_abilities, class: "form-control", placeholder: "UX, design, etc..." %>
    <%= f.label :desired_abilities %>
    <% @project.errors.full_messages_for(:desired_abilities).each do |message| %>
      <div class="invalid-feedback">
        <%= message %>
      </div>
    <% end %>
  </div>

  <div class="form-floating my-3">
    <%= f.number_field :value_per_hour, { step: 0.01, class: "form-control", placeholder: "Informe um valor" } %>
    <%= f.label :value_per_hour %>
    <% @project.errors.full_messages_for(:value_per_hour).each do |message| %>
      <div class="invalid-feedback">
        <%= message %>
      </div>
    <% end %>
  </div>

  <div class="form-floating my-3">
    <%= f.date_field :due_date, class: "form-control", placeholder: "Informe uma data" %>
    <%= f.label :due_date %>
    <% @project.errors.full_messages_for(:due_date).each do |message| %>
      <div class="invalid-feedback">
        <%= message %>
      </div>
    <% end %>
  </div>

  <div>
    <%= f.check_box :remote %> 
    <%= f.label :remote %>
  </div>

  <div class="actions my-3">
    <%= f.submit 'Enviar', class: "w-100 btn btn-lg btn-primary" %>
  </div>
<% end %>
