<div class="card col-lg-8">
  <div class="card-body row">
    <div class="col-md-8">
      <h5 class="card-title">
        Título: <%= link_to project.title, project_path(project) %>
      </h5>

      <p class="card-text">Descrição: <%= project.description %></p>
      <p>Habilidades desejadas: <%= project.desired_abilities %></p>
      <p>Criado por: <%= project.creator.name %></p>
    </div>

    <div class="col">
      <p>Valor por hora: <%= number_to_currency project.value_per_hour %></p>
      <p>Data limite: <%= I18n.l project.due_date %></p>
      <p>Trabalho <%= project.remote? ? "remoto" : "presencial" %></p>
    </div>
  </div>
</div>
