<h1>Projetos disponíveis</h1>
<br>

<%= form_with url: '/projects/search', method: :get,
  class: 'd-flex flex-column align-items-start flex-sm-row align-items-sm-center' do |form| %>
  <%= form.label :query, 'Buscar por:' %>
  <%= form.text_field :query, { value: params[:query] || '',
    class: 'form-control mx-sm-2', placeholder: 'Título ou descrição...',
    style: 'width: 300px;' } %>
  <%= form.submit 'Buscar', class: 'btn btn-primary mt-2 mt-sm-0' %>
<% end %>

<br>
<div>
  <% if @projects.empty? %>
    <h5>Nenhum projeto encontrado</h5>
  <% else %>
    <%= render @projects %>
  <% end %>
</div>
