<%= render @project %>
<br>

<% if user_signed_in? %>
  <%= link_to 'Editar', edit_project_path(@project), class: 'btn btn-primary' %>
  <br>
  <br>
  <h2>Propostas</h2>
  <% if @proposals.any? %>
    <div>
      <%= render @proposals %>
    </div>
  <% else %>
    <p>Esse projeto ainda não recebeu propostas</p>
  <% end %>
<% elsif professional_signed_in? %>
  <% if @proposal %>
    <h2>Sua proposta</h2>
    <%= render @proposal %>
  <% else %>
    <%= link_to 'Fazer proposta', new_project_proposal_path(@project),
    class: 'btn btn-primary' %>
  <% end %>
<% end %>
