<div
  class="<%= "card col-lg-8 border-#{proposal.status}" %>"
  id=<%= "proposal-#{proposal.id}" %>
>
  <div class="card-body row">
    <div class="col-md-8">
      <% unless user_signed_in? && request.path.include?('/projects') %>
        <h5 class="card-title">
          Projeto: <%= link_to proposal.project.title, project_path(proposal.project) %>
        </h5>
      <% end %>
      <p>Mensagem: <br><%= proposal.message %></p>

      <% if user_signed_in? %>
        <p>
          Enviado por: <%= link_to "#{proposal.professional.name}",
          professional_path(proposal.professional) %>
        </p>
      <% end %>

      <% if proposal.canceled_approved? %>
        <p>
          Motivo de cancelamento: <br>
          <%= proposal.proposal_cancelation.cancel_reason %>
        </p>
      <% elsif proposal.refused? %>
        <p>
          Motivo de recusa: <br>
          <%= proposal.proposal_refusal.refuse_reason %>
        </p>
      <% end %>
    </div>

    <div class="col">
      <p>Status: <%= Proposal.human_enum_name(:status, proposal.status) %></p>
      <p>Valor por hora: <%= number_to_currency proposal.value_per_hour %></p>
      <p>Horas disponíveis por semana: <%= proposal.hours_per_week %></p>
      <p>Expectativa de conclusão: <%= I18n.l proposal.finish_date %></p>
    </div>

    <% if professional_signed_in? && !proposal.refused? %>
      <div>
        <%= link_to 'Editar', edit_proposal_path(proposal), class: 'btn btn-primary' %> 

        <% if proposal.pending? %>
          <%= link_to 'Cancelar proposta', proposal_path(proposal),
            class: 'btn btn-danger', method: :delete,
            data: { confirm: 'Cancelar proposta?' } %>
        <% elsif proposal.approved? %>
          <%= link_to 'Cancelar proposta', proposal_cancel_path(proposal),
            class: 'btn btn-danger' %>
        <% end %>
      </div>
    <% end %>

    <% if user_signed_in? && !proposal.canceled_approved? %>
      <div>
        <%= link_to 'Aprovar', proposal_approve_path(proposal),
          class: 'btn btn-primary mr-2', method: :put %>
        <%= link_to 'Recusar', proposal_refuse_path(proposal), class: 'btn btn-danger' %>
      </div>
    <% end %>
  </div>
</div>
