<div>
  <p>
    Projeto: <%= link_to proposal.project.title, project_path(proposal.project) %>
  </p>
  <p>Mensagem: <br><%= proposal.message %></p>
  <p>Valor por hora: <%= number_to_currency proposal.value_per_hour %></p>
  <p>Horas disponíveis por semana: <%= proposal.hours_per_week %></p>
  <p>Expectativa de conclusão: <%= I18n.l proposal.finish_date %></p>
  <p>Status: <%= Proposal.human_enum_name(:status, proposal.status) %></p>
  <p>Enviado por: <%= proposal.professional.name %></p>
  <div>
    <%= link_to 'Cancelar proposta', cancel_proposal_path(proposal) %>
  </div>
</div>
