<div>
  <p>
    Projeto: <%= link_to proposal.project.title, project_path(proposal.project) %>
  </p>
  <p>Mensagem: <br><%= proposal.message %></p>
  <p>Valor por hora: <%= number_to_currency proposal.value_per_hour %></p>
  <p>Horas disponíveis por semana: <%= proposal.hours_per_week %></p>
  <p>Expectativa de conclusão: <%= I18n.l proposal.finish_date %></p>
  <p>Status: <%= Proposal.human_enum_name(:status, proposal.status) %></p>
  <% if proposal.canceled_approved? %>
    <p>
      Motivo de cancelamento: <br>
      <%= proposal.proposal_cancelation.cancel_reason %>
    </p>
  <% end %>
  <p>Enviado por: <%= proposal.professional.name %></p>
  <% if professional_signed_in? %>
    <div>
      <% if proposal.pending? %>
        <%= link_to 'Cancelar proposta', proposal_path(proposal), 
          method: :delete, data: { confirm: 'Cancelar proposta?' } %>
      <% elsif proposal.approved? %>
        <%= link_to 'Cancelar proposta', proposal_cancel_path(proposal) %>
      <% end %>
    </div>
  <% end %>
</div>
