<main class="form-signin text-center">
  <%= form_with model: @proposal do |f| %>

    <h2 class="h3 mb-3 fw-normal">Editar proposta em <%= @proposal.project.title %></h2>

    <div class="form-floating my-3">
      <%= f.text_area :message, autofocus: true, class: 'form-control', placeholder: 'Conte por quê está se candidatando, experiência, etc...' %>
      <%= f.label :message %>
      <% @proposal.errors.full_messages_for(:message).each do |message| %>
        <div class="invalid-feedback">
          <%= message %>
        </div>
      <% end %>
    </div>

    <div class="form-floating my-3">
      <%= f.number_field :value_per_hour, class: 'form-control', placeholder: 'Valor por hora', step: 0.01 %>
      <%= f.label :value_per_hour %>
      <% @proposal.errors.full_messages_for(:value_per_hour).each do |message| %>
        <div class="invalid-feedback">
          <%= message %>
        </div>
      <% end %>
    </div>

    <div class="form-floating my-3">
      <%= f.number_field :hours_per_week, class: 'form-control', placeholder: 'Horas por semana' %>
      <%= f.label :hours_per_week %>
      <% @proposal.errors.full_messages_for(:hours_per_week).each do |message| %>
        <div class="invalid-feedback">
          <%= message %>
        </div>
      <% end %>
    </div>

    <div class="form-floating my-3">
      <%= f.date_field :finish_date, class: 'form-control', placeholder: 'Expectativa de conclusão' %>
      <%= f.label :finish_date %>
      <% @proposal.errors.full_messages_for(:finish_date).each do |message| %>
        <div class="invalid-feedback">
          <%= message %>
        </div>
      <% end %>
    </div>

    <br>
    <div class="actions">
      <%= f.submit class: "w-100 btn btn-lg btn-primary" %>
    </div>
  <% end %>
</main>
